.logo-menu-templates-logo {
  top: 0px;
  left: 0px;
  width: calc(100% - 10px);
  padding: 15px 0px;
  z-index: 9999;
  position: absolute;
  background-color: var(--dl-color-gray-black);
}
.logo-menu-templates-image {
  width: 100%;
  height: auto;
  padding: 0px 25px;
}

